<div class="row">
  <div class="col-md-8 col-md-offset-2 ">

    <h1>Editing Registered Application</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @registered_application, class: "btn btn-default" %>
    <%= link_to 'Back', registered_applications_path, class: "btn btn-default" %>

  </div>
</div>
