
body {
  padding-top: 20px
}

.navbar-brand {
  padding: 20px;
}
.navbar-nav > li > a {
  padding: 20px;
}

 .login {
  float: left !important;
  margin: 15px;
}

.no-margin {
  margin: 0 !important;
}

.top-buffer { margin-top:20px; }
